.flag{display:inline-block;height:16px;width:16px;vertical-align:text-top;line-height:16px;background:url(../images/flags16.png) no-repeat;}
.flag._African_Union(OAS){background-position:-1px -16px;}
.flag._Arab_League{background-position:-1px -32px;}
.flag._ASEAN{background-position:-1px -48px;}
.flag._CARICOM{background-position:-1px -64px;}
.flag._CIS{background-position:-1px -80px;}
.flag._Commonwealth{background-position:-1px -96px;}
.flag._England{background-position:-1px -112px;}
.flag._European_Union{background-position:-1px -128px;}
.flag._Islamic_Conference{background-position:-1px -144px;}
.flag._Kosovo{background-position:-1px -160px;}
.flag._NATO{background-position:-1px -176px;}
.flag._Northern_Cyprus{background-position:-1px -192px;}
.flag._Northern_Ireland{background-position:-1px -208px;}
.flag._Olimpic_Movement{background-position:-1px -224px;}
.flag._OPEC{background-position:-1px -240px;}
.flag._Red_Cross{background-position:-1px -256px;}
.flag._Scotland{background-position:-1px -272px;}
.flag._Somaliland{background-position:-1px -288px;}
.flag._Tibet{background-position:-1px -304px;}
.flag._United_Nations{background-position:-1px -320px;}
.flag._Wales{background-position:-1px -336px;}
.flag.ad{background-position:-1px -352px;}
.flag.ae{background-position:-1px -368px;}
.flag.af{background-position:-1px -384px;}
.flag.ag{background-position:-1px -400px;}
.flag.ai{background-position:-1px -416px;}
.flag.al{background-position:-1px -432px;}
.flag.am{background-position:-1px -448px;}
.flag.an{background-position:-1px -464px;}
.flag.ao{background-position:-1px -480px;}
.flag.aq{background-position:-1px -496px;}
.flag.ar{background-position:-1px -512px;}
.flag.as{background-position:-1px -528px;}
.flag.at{background-position:-1px -544px;}
.flag.au{background-position:-1px -560px;}
.flag.aw{background-position:-1px -576px;}
.flag.az{background-position:-1px -592px;}
.flag.ba{background-position:-1px -608px;}
.flag.bb{background-position:-1px -624px;}
.flag.bd{background-position:-1px -640px;}
.flag.be{background-position:-1px -656px;}
.flag.bf{background-position:-1px -672px;}
.flag.bg{background-position:-1px -688px;}
.flag.bh{background-position:-1px -704px;}
.flag.bi{background-position:-1px -720px;}
.flag.bj{background-position:-1px -736px;}
.flag.bm{background-position:-1px -752px;}
.flag.bn{background-position:-1px -768px;}
.flag.bo{background-position:-1px -784px;}
.flag.br{background-position:-1px -800px;}
.flag.bs{background-position:-1px -816px;}
.flag.bt{background-position:-1px -832px;}
.flag.bw{background-position:-1px -848px;}
.flag.by{background-position:-1px -864px;}
.flag.bz{background-position:-1px -880px;}
.flag.ca{background-position:-1px -896px;}
.flag.cg{background-position:-1px -912px;}
.flag.cf{background-position:-1px -928px;}
.flag.cd{background-position:-1px -944px;}
.flag.ch{background-position:-1px -960px;}
.flag.ci{background-position:-1px -976px;}
.flag.ck{background-position:-1px -992px;}
.flag.cl{background-position:-1px -1008px;}
.flag.cm{background-position:-1px -1024px;}
.flag.cn{background-position:-1px -1040px;}
.flag.co{background-position:-1px -1056px;}
.flag.cr{background-position:-1px -1072px;}
.flag.cu{background-position:-1px -1088px;}
.flag.cv{background-position:-1px -1104px;}
.flag.cy{background-position:-1px -1120px;}
.flag.cz{background-position:-1px -1136px;}
.flag.de{background-position:-1px -1152px;}
.flag.dj{background-position:-1px -1168px;}
.flag.dk{background-position:-1px -1184px;}
.flag.dm{background-position:-1px -1200px;}
.flag.do{background-position:-1px -1216px;}
.flag.dz{background-position:-1px -1232px;}
.flag.ec{background-position:-1px -1248px;}
.flag.ee{background-position:-1px -1264px;}
.flag.eg{background-position:-1px -1280px;}
.flag.eh{background-position:-1px -1296px;}
.flag.er{background-position:-1px -1312px;}
.flag.es{background-position:-1px -1328px;}
.flag.et{background-position:-1px -1344px;}
.flag.fi{background-position:-1px -1360px;}
.flag.fj{background-position:-1px -1376px;}
.flag.fm{background-position:-1px -1392px;}
.flag.fo{background-position:-1px -1408px;}
.flag.fr{background-position:-1px -1424px;}
.flag.ga{background-position:-1px -1440px;}
.flag.gb{background-position:-1px -1456px;}
.flag.gd{background-position:-1px -1472px;}
.flag.ge{background-position:-1px -1488px;}
.flag.gg{background-position:-1px -1504px;}
.flag.gh{background-position:-1px -1520px;}
.flag.gi{background-position:-1px -1536px;}
.flag.gl{background-position:-1px -1552px;}
.flag.gm{background-position:-1px -1568px;}
.flag.gn{background-position:-1px -1584px;}
.flag.gp{background-position:-1px -1600px;}
.flag.gq{background-position:-1px -1616px;}
.flag.gr{background-position:-1px -1632px;}
.flag.gt{background-position:-1px -1648px;}
.flag.gu{background-position:-1px -1664px;}
.flag.gw{background-position:-1px -1680px;}
.flag.gy{background-position:-1px -1696px;}
.flag.hk{background-position:-1px -1712px;}
.flag.hn{background-position:-1px -1728px;}
.flag.hr{background-position:-1px -1744px;}
.flag.ht{background-position:-1px -1760px;}
.flag.hu{background-position:-1px -1776px;}
.flag.id{background-position:-1px -1792px;}
.flag.mc{background-position:-1px -1792px;}
.flag.ie{background-position:-1px -1808px;}
.flag.il{background-position:-1px -1824px;}
.flag.im{background-position:-1px -1840px;}
.flag.in{background-position:-1px -1856px;}
.flag.iq{background-position:-1px -1872px;}
.flag.ir{background-position:-1px -1888px;}
.flag.is{background-position:-1px -1904px;}
.flag.it{background-position:-1px -1920px;}
.flag.je{background-position:-1px -1936px;}
.flag.jm{background-position:-1px -1952px;}
.flag.jo{background-position:-1px -1968px;}
.flag.jp{background-position:-1px -1984px;}
.flag.ke{background-position:-1px -2000px;}
.flag.kg{background-position:-1px -2016px;}
.flag.kh{background-position:-1px -2032px;}
.flag.ki{background-position:-1px -2048px;}
.flag.km{background-position:-1px -2064px;}
.flag.kn{background-position:-1px -2080px;}
.flag.kp{background-position:-1px -2096px;}
.flag.kr{background-position:-1px -2112px;}
.flag.kw{background-position:-1px -2128px;}
.flag.ky{background-position:-1px -2144px;}
.flag.kz{background-position:-1px -2160px;}
.flag.la{background-position:-1px -2176px;}
.flag.lb{background-position:-1px -2192px;}
.flag.lc{background-position:-1px -2208px;}
.flag.li{background-position:-1px -2224px;}
.flag.lk{background-position:-1px -2240px;}
.flag.lr{background-position:-1px -2256px;}
.flag.ls{background-position:-1px -2272px;}
.flag.lt{background-position:-1px -2288px;}
.flag.lu{background-position:-1px -2304px;}
.flag.lv{background-position:-1px -2320px;}
.flag.ly{background-position:-1px -2336px;}
.flag.ma{background-position:-1px -2352px;}
.flag.md{background-position:-1px -2368px;}
.flag.me{background-position:-1px -2384px;}
.flag.mg{background-position:-1px -2400px;}
.flag.mh{background-position:-1px -2416px;}
.flag.mk{background-position:-1px -2432px;}
.flag.ml{background-position:-1px -2448px;}
.flag.mm{background-position:-1px -2464px;}
.flag.mn{background-position:-1px -2480px;}
.flag.mo{background-position:-1px -2496px;}
.flag.mq{background-position:-1px -2512px;}
.flag.mr{background-position:-1px -2528px;}
.flag.ms{background-position:-1px -2544px;}
.flag.mt{background-position:-1px -2560px;}
.flag.mu{background-position:-1px -2576px;}
.flag.mv{background-position:-1px -2592px;}
.flag.mw{background-position:-1px -2608px;}
.flag.mx{background-position:-1px -2624px;}
.flag.my{background-position:-1px -2640px;}
.flag.mz{background-position:-1px -2656px;}
.flag.na{background-position:-1px -2672px;}
.flag.nc{background-position:-1px -2688px;}
.flag.ne{background-position:-1px -2704px;}
.flag.ng{background-position:-1px -2720px;}
.flag.ni{background-position:-1px -2736px;}
.flag.nl{background-position:-1px -2752px;}
.flag.no{background-position:-1px -2768px;}
.flag.np{background-position:-1px -2784px;}
.flag.nr{background-position:-1px -2800px;}
.flag.nz{background-position:-1px -2816px;}
.flag.om{background-position:-1px -2832px;}
.flag.pa{background-position:-1px -2848px;}
.flag.pe{background-position:-1px -2864px;}
.flag.pf{background-position:-1px -2880px;}
.flag.pg{background-position:-1px -2896px;}
.flag.ph{background-position:-1px -2912px;}
.flag.pk{background-position:-1px -2928px;}
.flag.pl{background-position:-1px -2944px;}
.flag.pr{background-position:-1px -2960px;}
.flag.ps{background-position:-1px -2976px;}
.flag.pt{background-position:-1px -2992px;}
.flag.pw{background-position:-1px -3008px;}
.flag.py{background-position:-1px -3024px;}
.flag.qa{background-position:-1px -3040px;}
.flag.re{background-position:-1px -3056px;}
.flag.ro{background-position:-1px -3072px;}
.flag.rs{background-position:-1px -3088px;}
.flag.ru{background-position:-1px -3104px;}
.flag.rw{background-position:-1px -3120px;}
.flag.sa{background-position:-1px -3136px;}
.flag.sb{background-position:-1px -3152px;}
.flag.sc{background-position:-1px -3168px;}
.flag.sd{background-position:-1px -3184px;}
.flag.se{background-position:-1px -3200px;}
.flag.sg{background-position:-1px -3216px;}
.flag.si{background-position:-1px -3232px;}
.flag.sk{background-position:-1px -3248px;}
.flag.sl{background-position:-1px -3264px;}
.flag.sm{background-position:-1px -3280px;}
.flag.sn{background-position:-1px -3296px;}
.flag.so{background-position:-1px -3312px;}
.flag.sr{background-position:-1px -3328px;}
.flag.st{background-position:-1px -3344px;}
.flag.sv{background-position:-1px -3360px;}
.flag.sy{background-position:-1px -3376px;}
.flag.sz{background-position:-1px -3392px;}
.flag.tc{background-position:-1px -3408px;}
.flag.td{background-position:-1px -3424px;}
.flag.tg{background-position:-1px -3440px;}
.flag.th{background-position:-1px -3456px;}
.flag.tj{background-position:-1px -3472px;}
.flag.tl{background-position:-1px -3488px;}
.flag.tm{background-position:-1px -3504px;}
.flag.tn{background-position:-1px -3520px;}
.flag.to{background-position:-1px -3536px;}
.flag.tr{background-position:-1px -3552px;}
.flag.tt{background-position:-1px -3568px;}
.flag.tv{background-position:-1px -3584px;}
.flag.tw{background-position:-1px -3600px;}
.flag.tz{background-position:-1px -3616px;}
.flag.ua{background-position:-1px -3632px;}
.flag.ug{background-position:-1px -3648px;}
.flag.us{background-position:-1px -3664px;}
.flag.uy{background-position:-1px -3680px;}
.flag.uz{background-position:-1px -3696px;}
.flag.va{background-position:-1px -3712px;}
.flag.vc{background-position:-1px -3728px;}
.flag.ve{background-position:-1px -3744px;}
.flag.vg{background-position:-1px -3760px;}
.flag.vi{background-position:-1px -3776px;}
.flag.vn{background-position:-1px -3792px;}
.flag.vu{background-position:-1px -3808px;}
.flag.ws{background-position:-1px -3824px;}
.flag.ye{background-position:-1px -3840px;}
.flag.za{background-position:-1px -3856px;}
.flag.zm{background-position:-1px -3872px;}
.flag.zw{background-position:-1px -3888px;}

.flag.eu{background-position:-1px -128px;}
.flag.cis{background-position:-1px -80px;}

.flag.e4{background-position:-1px -3904px;}
.flag.mail{background-position:-1px -3920px;}
.flag.irc{background-position:-1px -3936px;}
